@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to ASP.NET Core Basics</h1>
    <h3>@ViewBag.AppName</h3>
    <p><strong>Version:1.0</strong> @ViewBag.Version</p>
    <p><strong>Service Message:</strong> @ViewBag.ServiceMessage</p>
</div>
