@model Assessment.Models.Student

<h2>Student Details</h2>

<p>ID: @Model.StudentId</p>
<p>Name: @Model.Name</p>
<p>Department: @Model.Department</p>
<p>Marks: @Model.Marks</p>

<a asp-action="Index">Back to List</a>
